<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
          <!--add key="http_proxy" value="http://your.proxy.server:8080" /-->
          <!--add key="http_proxy.user" value="mydomain\myUserName" /-->
          <!--add key="http_proxy.password" value="base64encodedHopefullyEncryptedPassword" /-->
          <add key="repositoryPath" value="../Packages" />
          <add key="globalPackagesFolder" value="../Packages" />
	</config>
	<packageSources>
          <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
          <!--add key="proget" value="http://private.repo.server:1234" /-->
	</packageSources>
</configuration>
